<h2>
  <%= @article.title %>
</h2>

<h4>
  <%= @article.text %>
</h4>

<hr>

<div id="comments">
  <% if @article.comments.any? %>
    <h4>Name</h4>
    <%= render @article.comments %>
  <% end %>
</div>

<h4>Add a comment</h4>
<%= render 'comments/form' %>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
